{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main/base.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    {% block link %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/main/index/">МайнСайтег</a>
        </div>
        <nav class="nav">
            <a href="#">... Оп</a>
            <a href="#">- Ля</a>
            <a href="#">- Ля</a>
        </nav>
        <div class="auth">
            {% if user.is_authenticated %}
                <a class="nav-link" href="/main/profile/{{ user.id }}/">{{ user.username }}</a>
                <a class="nav-link" href="{% url 'users:logout' %}">Выход</a>
            {% else %}
                <a class="nav-link" href="{% url 'users:login' %}">Вход</a>
            {% endif %}
        </div>
    </header>

    <main>
        <div class="block">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>